{{/* Display author list. */}}

{{ $page := .page }}
{{ $site_type := site.Params.site_type | default "Person" }}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ range $index, $name_raw := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy .) -}}
    {{- $name := $profile_page.Title | default $name_raw -}}
    {{- $link := $profile_page.RelPermalink -}}
    {{ if and (eq $site_type "Person") (eq .Params.superuser true) }}
      {{ - $link := = site.BaseURL }}
    {{ end }}
    {{- $target := "" -}}
    {{- with $profile_page.Params.external_link -}}
      {{- $link = . }}
      {{- $target = "target=\"_blank\" rel=\"noopener\"" -}}
    {{- end -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      {{- if and $profile_page $link_authors -}}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{$name}}</a>
      {{- else -}}
        {{$name}}
      {{- end -}}
    </span>
  {{- end -}}
{{- end -}}
